name: turnin test suite

on:
  push:
    paths:
      - "src/**"
      - "scripts/**"
      - "Makefile"
      - ".github/workflows/main.yml"
  pull_request:
    paths:
      - "src/**"
      - "scripts/**"
      - "Makefile"
      - ".github/workflows/main.yml"

env:
  COURSE: hy999

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: sudo make install
      - run: turnin --version
      - name: Create user for course
        run: |
          sudo useradd -m $COURSE
          grep $COURSE /etc/passwd
      - name: Create TURNIN directory for new user
        run: |
          sudo -u $COURSE mkdir -p /home/$COURSE/TURNIN/{ex1,ex2}
      - name: Turn something in
        run: |
          whoami
          yes | turnin ex1@$COURSE src/turnin.c
      - name: Verify turn in
        run: |
          verify-turnin ex1@$COURSE
          sudo -u $COURSE find /home/$COURSE/TURNIN/ex1/
          sudo -u $COURSE find /home/$COURSE/TURNIN/ex1/ | grep `whoami` > /dev/null
      - name: Verify turn in without submission
        run: |
          verify-turnin ex2@$COURSE || test $? -ne 0
      - name: Verify turn in in non existing directory
        run: |
          verify-turnin ex3@$COURSE || test $? -ne 0
      - name: Verify turn in in non existing course
        run: |
          verify-turnin ex1@mycourse || test $? -ne 0
      - name: Verify extract turn in permissions
        run: |
          set -x
          cp scripts/extract-turnins /home/$COURSE/TURNIN/ex1
          cd /home/$COURSE/TURNIN/ex1
          sudo -u $COURSE ./extract-turnins
          FILE_PERMS=$(sudo -u $COURSE stat -L -c "%a %G %U" /home/$COURSE/TURNIN/ex1/runner/src/turnin.c) #| sudo -u $COURSE grep -o "600")
          echo "$FILE_PERMS"
          [ "$FILE_PERMS" -eq 600 ] || test $? -eq 0
